.Rproj.user
.Rhistory
.RData
.Ruserdata

/__pycache__
/Monthly_Report_cache
/rsconnect

*.RData
*.pyc
*.swp
*.fst
*.feather
*.rds
*.csv
*.log

/Signal_Dashboards

cor_s3.rds
sig_s3.rds
teams_tables_s3.rds
Monthly_Report_AWS.yaml

