
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans'); /*:700*/
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:800');

@font-face { 
  font-family: "Open Sans";
  src: url(OpenSans-Regular.ttf);
}
@font-face {  
  font-family: "Open Sans";
  font-style: bold;
  font-weight: bold;
  src: url(OpenSans-Bold.ttf);
}

.navbar {
  background-color:#005da9; /*#256194;*/
  border-color:white;
}
.navbar-logo {
  height:48px;
  /*padding-top:5px;*/
}
.navbar-brand {
  color: white!important;
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 24px;
  font-weight: extra-bold;
  /*font-family: 'Josefin Sans', sans-serif;*/
  /*font-weight: bold;*/
}
.navbar-inverse .navbar-nav>li>a:focus{
    color:#ffffff;
    background-color:#508dd6;
}
.navbar-inverse .navbar-nav>li>a:hover{
    color:#ffffff;
    background-color:#508dd6;
}
.navbar-inverse .navbar-nav>.active>a { 
    color:#ffffff;
    background-color:#508dd6;
}
.navbar-inverse .navbar-nav>.active>a:focus { 
    color:#ffffff;
    background-color:#508dd6;
}
